:root {
    --grey: #cacad0;
    --yellow: #fff600;
    --blue: #000bff;
    --green: #72ff0d;
    --brown: #831d1d;
}

/* LOAD FONTS */
@font-face {
    font-family: HKG_bold;
    src: url("fonts/HKGrotesk-Bold.otf");
}
@font-face {
    font-family: HKG_regular;
    src: url("fonts/HKGrotesk-Regular.otf");
}
@font-face {
    font-family: HKG_italic;
    src: url("fonts/HKGrotesk-MediumLegacyItalic.otf");
}
@font-face {
    font-family: yoppa;
    src: url("fonts/Yoppa_Regular.otf");
}

body { 
    margin: 0; 
    background-color: var(--grey);
}

/* LINKS */
a {
    text-decoration: underline;
    color: inherit;
}
a:visited {
    text-decoration: underline;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: var(--green) !important;
}

/* TITLE */
.title {
    font-family: yoppa;
    font-size: max(5.5vh,4.5vw);
    color: var(--yellow);
    pointer-events: none;
    position: absolute;
}
.title_rl{
    top: 3vh; 
    left: 3vh; 
    transform: translate(0%,-10%);
}

/* LOADING SCREEN */
#loadScrn{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    background-color: var(--blue);
    font-family: yoppa;
    font-size: max(5.5vh,4.5vw);
    color: var(--yellow);
    text-align: center;
    line-height: 100vh;
    line-height: calc(var(--vh, 1vh)*100);
    z-index: 0;
}




.preview{
    height: 400px;
    width: 100px;
    pointer-events: auto;
    background-color: #000;
    padding: 10px;
    border: 3px solid var(--brown);
    color: #fff;
    font-family: HKG_bold;
}