
:root {
    --grey: #cacad0;
}


@font-face {
    font-family: courier;
    src: url("fonts/CourierStd.otf");
}

body{
    background-color: rgb(148, 142, 142);
    overflow: hidden;
}

.main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background.jpeg");
    background-position: center;
    background-size: 200%;
}

.oval{
    background-image: url("images/test_gif1.gif"); 
    background-size: cover; 
    background-position: center; 
    width: 400px; 
    height: 400px; 
    position: absolute; 
}

.stone{
    background-image: url("images/gif_obj2.gif"); 
    background-size: cover; 
    background-position: center; 
    width: 300px; 
    height: 300px; 
    position: absolute; 
}

.dots{
    background-image: url("images/dots.png"); 
    background-size: cover; 
    background-position: center; 
    width: 350px; 
    height: 400px; 
    position: absolute; 
}

.paint_green{
    background-image: url("images/paint_green.png"); 
    background-size: cover; 
    background-position: center; 
    width: 300px; 
    height: 300px; 
    position: absolute; 
}

.meteor{
    background-image: url("images/gif_obj1.gif"); 
    background-size: cover; 
    background-position: center; 
    width: 583px; 
    height: 583px; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;
}