
:root {
    --grey: #cacad0;
}


@font-face {
    font-family: 'Gza';
    src: url("fonts/Gza-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

a{
    color:#000;
    text-decoration:none;
}

body{
    background-color: rgb(148, 142, 142);
    overflow: hidden;
    cursor:url('images/cursor.png'), auto;
}

.main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background.jpeg");
    background-position: center;
    background-size: 200%;
}

.elements{
    background-size:contain;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh; 
    top:0;
    position: absolute;
}


.nav{
    background-image: url("images/nav.png"); 
    background-size: cover; 
    background-position: center; 
    aspect-ratio: 1.48/1;
    width: 15vw; 
    position: absolute; 
    right:3vw;
    top:0;
    cursor:url('images/cursor_hov.png'), auto;
    z-index:100;
}

.nav:hover{
    background-image: url("images/nav_hov.png"); 
}

.navExp{
    background-color: #fff;
    width: 20vw;
    height: 60vh;
    position: absolute;
    right: 2vw;
    top: 9vh;
    display:none;
    z-index:100;
}

.navBands{
    width:100%;
    height:5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;
    display: flex;
    align-items:center;
    justify-content: center;
    border-bottom: 2px dotted #000;
    position: relative;
    cursor:url('images/cursor_hov.png'), auto;
    z-index:100;
}

.navBands:hover{
    background-image: url("images/navHover.jpg"); 
    background-size: cover; 
}

.bookings{
    background-image: url("images/bookings.png"); 
    background-size: cover; 
    background-position: center; 
    aspect-ratio: 2.7/1;
    width: 15vw; 
    position: absolute; 
    right:20vw;
    top:0;
    cursor:url('images/cursor_hov.png'), auto;
    z-index:100;
}

.bookings:hover{
    background-image: url("images/bookings_hov.png"); 
}

.about{
    background-image: url("images/about.png"); 
    background-size: cover; 
    background-position: center; 
    aspect-ratio: 2.67/1;
    width: 12vw; 
    position: absolute; 
    right:35vw;
    top:0;
    cursor:url('images/cursor_hov.png'), auto;
    z-index:100;
}

.about:hover{
    background-image: url("images/about_hov.png"); 
}

.aboutTitle{
    font-family: Gza;
    font-size: 8vw;
    position: absolute;
    top: 6vh;
    text-align: center;
    width: 25%;
    left:0;
    right:0;
    margin: auto;
}

.aboutBands{
    font-family: Gza;
    font-size: 8vw;
}

.aboutText{
    font-family: Gza;
    font-size: 1.5vw;
    position: absolute;
    top: 85vh;
    left: 10%;
    width: 80%;
    text-align: justify;
    hyphens:auto;
}

.mindmap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("about/about_mindmap.gif");
    background-position: center;
    background-size:contain;
    background-repeat:no-repeat;
}



.bands{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("bands/background_bands.jpg");
    background-position: center;
    background-size: cover;
}

.bandname{
    position: absolute;
    left: 0;
    top: 0;
    font-family: Gza;
    font-size: 2vw;
    width:15vw;
    height:auto;
    color: #ca95ca;
    display:none;
    pointer-events:none;
    align-items:center;
    justify-content: center;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.bandImg{ 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    position: absolute; 
    cursor:url('images/cursor_hov.png'), auto;
    z-index: 1;
}

.bandsSounds{
    position: absolute;
    height:100%;
    width:60%;
    top:0;
    left:0;
}

.bandsTitle{
    position: absolute;
    top: 15%;
    width:100%;
    left:0;
    color: #fff;
    font-family: Gza;
    font-size: 5vw;
    line-height: 0.75;
    padding-left: 25%;
    padding-right: 25%;
    box-sizing: border-box;
}

.bandsContent{
    position: absolute;
    height:100%;
    width:40%;
    top:0;
    right:0;
    overflow-y:scroll;
    background-color: rgba(100,100,100,0.1);
    box-sizing: border-box;
    padding:5%;
}

.bandIcon{
    width:100%;
    height:30%;
    background-image:url('images/band_penguin.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.bandText{
    color: #fff;
    line-height: 1.5;
    font-family: Gza;
    font-size: 0.9vw;
    width:100%;
    hyphens:auto;
}

.bandInvert{
    width:100%;height:auto;
}

.bandInvert:hover{
    filter: invert();
}

.bandBack{
    background-image: url("images/back.png"); 
    background-size: cover; 
    position: absolute;
    left: 0;
    top: 15%;
    width: 10vw;
    aspect-ratio: 1/1;
    cursor:url('images/cursor_hov.png'), auto;
}

.bandCircle{
    background-image: url("images/circle.png"); 
    background-size: cover; 
    position: absolute;
    width: 10vw;
    aspect-ratio: 1/1;
    cursor:url('images/cursor_hov.png'), auto;
}

.bandCircle[id='circle1']:hover{
    background-image: url("bands/circle1.gif"); 
}
.bandCircle[id='circle2']:hover{
    background-image: url("bands/circle2.gif"); 
}