
:root {
    --grey: #cacad0;
}


@font-face {
    font-family: HKG_regular;
    src: url('HKGrotesk-Regular.otf');
}

.main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background5.jpg");
    background-position: center;
    background-size: cover;
}
