
:root {
    --grey: #cacad0;
}


@font-face {
    font-family: HKG_regular;
    src: url('HKGrotesk-Regular.otf');
}

.main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/background5.jpg");
    background-position: center;
    background-size: cover;
}

.meteor{
    background-image: url('images/gif_obj1.gif'); 
    background-size: cover; 
    background-position: center; 
    width: 583px; 
    height: 583px; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;
}

.green{
    background-image: url('images/green_thingy1.gif'); 
    background-size: cover; 
    background-position: center; 
    width: 450px; 
    height: 450px; 
    position: absolute; 
    top: 10vh; 
    right: 10vw;
}

.rock{
    background-image: url('images/rock_gif.gif'); 
    background-size: cover; 
    background-position: center; 
    width: 800px; 
    height: 500px; 
    position: absolute; 
    bottom: 0; 
    left: 5vw;
}

.oval{
    background-image: url('images/test_gif1.gif'); 
    background-size: cover; 
    background-position: center; 
    width: 400px; 
    height: 400px; 
    position: absolute; 
    top: 5vh; 
    left: 15vw;
}

.stone{
    background-image: url('images/gif_obj2.gif'); 
    background-size: cover; 
    background-position: center; 
    width: 300px; 
    height: 300px; 
    position: absolute; 
    top: 25vh; 
    left: 20vw;
}

.header{
    width: 35vw; 
    height: 5vw; 
    position: absolute; 
    top: 2vh; 
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.header1{
    background-image: url('images/header_1.png'); 
    background-size: cover; 
    background-position: center; 
    width: 35vw; 
    height: 5vw; 
    position: absolute; 
    top: 2vh; 
    left: 0;
    right: 0;
    margin: auto;
}

.header2{
    background-image: url('images/header_2.png'); 
    background-size: cover; 
    background-position: center; 
    width: 35vw; 
    height: 5vw; 
    position: absolute; 
    top: 2vh; 
    left: 0;
    right: 0;
    margin: auto;
}

.header3{
    background-image: url('images/header_3.png'); 
    background-size: cover; 
    background-position: center; 
    width: 35vw; 
    height: 5vw; 
    position: absolute; 
    top: 2vh; 
    left: 0;
    right: 0;
    margin: auto;
}